body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  margin: auto;
  width: 70%;
  font-family: sans-serif;
}

h1 {
  font-size: 60px;
  letter-spacing: 1rem;
  font-family: serif;
}

h3 {
  display: inline-block;
  font-size: 25px;
}

input {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  font-size: 20px;
  border: 0.45px solid black;
  padding: 5px 10px;
}

button {
  background-color: goldenrod;
  border: 1px solid whitesmoke;
  padding: 5px 20px;
  color: white;
  font-size: 15px;
  border-radius: 3px;
}

button:hover {
  background-color: rgb(25, 28, 25);
}

table {
  border: 1px solid black;
  margin-top: -15px;
  width: 100%;
  padding: 20px;
}

th {
  text-align: left;
}

tr:nth-child(even) {
  background-color: #dad3d3;
}
.content-container {
  display: flex;
  gap: 30px;
  min-width: 600px;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 10px;
}

.form-container {
  display: flex;
  flex-direction: column;
}
